{% extends "base.html.twig" %}

{% block content %}

    {# HEADER #}
    <header class="header" id="site-header">
        <div class="container-fluid">
            <div class="header__row row">
                <div class="col-12">
                    <nav class="header__nav" aria-label="Primary">
                        <button
                            class="header__toggler d-inline-flex d-md-none"
                            type="button"
                            aria-label="Open menu"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#headerOffcanvas"
                            aria-controls="headerOffcanvas">
                            <i class="bi bi-list"></i>
                        </button>

                        <ul class="header__menu d-none d-md-flex">
                            {% for item in content.menuItems|default([]) %}
                                <li class="header__item"><a class="header__link" href="#{{ item.sectionId|default }}">{{ item.name|default }}</a></li>
                            {% endfor %}
                        </ul>

                        {% if content.buttonText|default %}
                            {% if content.buttonLinkToSection|default %}
                                <a class="header__cta d-none d-md-inline-block" href="#{{ content.buttonLinkToSection }}" title="{{ content.buttonText }}">{{ content.buttonText }}</a>
                            {% elseif content.buttonLink|default %}
                                <a class="header__cta d-none d-md-inline-block" href="{{ content.buttonLink }}" title="{{ content.buttonText }}">{{ content.buttonText }}</a>
                            {% endif %}
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </header>

    
    <div class="offcanvas offcanvas-end header__offcanvas" tabindex="-1" id="headerOffcanvas" aria-labelledby="headerOffcanvasLabel">
        <div class="header__offcanvas-head">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body header__offcanvas-body">
            <ul class="header__menu header__menu--mobile">
                {% for item in content.menuItems|default([]) %}
                    <li class="header__item"><a class="header__link" href="#{{ item.sectionId|default }}">{{ item.name|default }}</a></li>
                {% endfor %}
            </ul>

            {% if content.buttonText|default %}
                {% if content.buttonLinkToSection|default %}
                    <a class="header__cta header__cta--mobile" data-bs-dismiss="offcanvas" href="#{{ content.buttonLinkToSection }}" title="{{ content.buttonText }}"> {{ content.buttonText }} </a>
                {% elseif content.buttonLink|default %}
                    <a class="header__cta d-none d-md-inline-block" href="{{ content.buttonLink }}" title="{{ content.buttonText }}">{{ content.buttonText }}</a>
                    <a class="header__cta header__cta--mobile" data-bs-dismiss="offcanvas" href="{{ content.buttonLink }}" title="{{ content.buttonText }}"> {{ content.buttonText }} </a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <section class="section section-hero" {% if content.sectionId|default %}id="{{ content.sectionId }}"{% endif %}>
        <div class="hero">
            <div class="hero__slider swiper" id="section-hero-swiper">
                <div class="swiper-wrapper">
                    {% for key, item in content.heroItems|default([]) %}
                        <div class="swiper-slide hero__slide" style="background-image: url('{{ item.backgroundImage.url }}')">
                            <div class="hero__content container">
                                <div class="row">
                                    <div class="col-12">
                                        {% if item.title|default %}
                                            <h1 class="hero__title">{{ item.title }}</h1>
                                        {% endif %}
                                        {% if item.description|default %}
                                            <div class="hero__subtitle">{{ item.description|raw }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% if content.heroItems|default([])|length > 1 %}
                <div class="hero__progress container" aria-hidden="true">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero__progress-inner">
                                <span class="hero__counter hero__counter--current">01</span>
                                <div class="hero__progress-track">
                                    <span class="hero__progress-bar" style="width: 33.333%"></span>
                                </div>
                                <span class="hero__counter hero__counter--total">
                                    {{
                                        (content.heroItems|default([])|length > 9)
                                            ? content.heroItems|default([])|length
                                            : '0' ~ (content.heroItems|default([])|length)
                                    }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

    {# MAIN CONTENT #}
    <main class="site-main">
        {% include 'includes/blocks.html.twig' %}
    </main>

    <footer class="footer" {% if content.footerSectionId|default %}id="{{ content.footerSectionId }}"{% endif %}>
        <div class="container">
            <div class="row footer__row gy-5 gy-md-0">
                {% for item in content.footerItems|default([]) %}
                    <div class="col-12 col-md-4">
                        <div class="footer__item">
                            {% if item.icon|default %}
                                <img src="{{ item.icon.url }}" alt="">
                            {% endif %}
                            <div class="footer__copy">
                                {% if item.title|default %}
                                    <div class="footer__title">{{ item.title }}</div>
                                {% endif %}
                                {% if item.description|default %}
                                    <div class="footer__meta">
                                        {{ item.description|raw }}
                                    </div>
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if content.footerLinks|default([])|length > 0 %}
                <div class="footer-links">
                    {% for item in content.footerLinks %}
                        <a {% if loop.first %}class="footer-link-first"{% endif %} href="{{ item.link }}">{{ item.title }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </footer>
{% endblock %}