{# BLOCK: COMFORTS #}
<section class="section section-comforts" {% if content.sectionId|default %}id="{{ content.sectionId }}"{% endif %} {% if content.backgroundImage|default %} style="background: url({{ content.backgroundImage.url }}) center / cover no-repeat" {% endif %}>
    <div class="container">
        <div class="comforts__panel">
            {% if content.title|default %}
                <h2 class="comforts__heading">{{ content.title }}</h2>
            {% endif %}

            <div class="comforts__slider swiper" id="comforts-swiper">
                <div class="swiper-wrapper">
                    {% for item in content.comforts|default([]) %}
                        <div class="swiper-slide comforts__item">
                            {% if item.icon|default %}
                                <div class="comforts__icon">
                                    <img src="{{ item.icon.url }}" alt="{{ item.title|default }}">
                                </div>
                            {% endif %}
                            {% if item.title|default %}
                                <h3 class="comforts__title">{{ item.title }}</h3>
                            {% endif %}
                            {% if item.description|default %}
                                <div class="comforts__text">{{ item.description|raw }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="comforts__nav">
                <button class="comforts__arrow comforts__prev" type="button" aria-label="Previous">
                    <i class="bi bi-chevron-left"></i>
                </button>
                <button class="comforts__arrow comforts__next" type="button" aria-label="Next">
                    <i class="bi bi-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</section>