{# BLOCK: ELEGANCE (OVERVIEW) #}
<section class="section section-elegance" {% if content.sectionId|default %}id="{{ content.sectionId }}"{% endif %}>
    <div class="container">
        <div class="row elegance__row">
            <div class="col-12 col-lg-5">
                <div class="elegance">
                    {% if content.subtitle|default %}
                        <div class="elegance__eyebrow">{{ content.subtitle }}</div>
                    {% endif %}
                    {% if content.title|default %}
                        <h2 class="elegance__title">{{ content.title }}</h2>
                    {% endif %}

                    {% if content.description|default %}
                        <div class="elegance__lead">
                            {{ content.description|raw }}
                        </div>
                    {% endif %}

                    {# <ul class="elegance__list">
                        <li>Contemporary design with high ceilings</li>
                        <li>Spacious bedrooms with built-in wardrobes</li>
                        <li>Fully integrated smart home system</li>
                    </ul> #}
                </div>
            </div>

            <div class="col-12 col-lg-6">
                {% if content.image|default %}
                    <div class="elegance__media">
                        <img
                            class="elegance__image"
                            src="{{ content.image.url }}"
                            alt="{{ content.title|default }}"
                            loading="lazy"
                            decoding="async" />
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>